.titleBig {
  white-space: nowrap;

  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #ffffff;
}

.subtitle {
  /* text-small-regular */

  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White-2 */

  color: #e2e2e2;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
}

.numberBig {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #ffffff;
}

.sectionWrapper {
  gap: 1em;
}

@media screen and (max-width: 1280px) {
  .titleBig {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: left;
    font-feature-settings: 'pnum' on, 'lnum' on;

    max-width: 12ch;

    color: #ffffff;
  }

  .subtitle {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    max-width: 35ch;

    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White-2 */

    color: #e2e2e2;
  }

  .iconContainer {
    margin-left: auto;

    justify-content: center;
  }
}

@media screen and (max-width: 920px) {
  .titleBig {
    /* text-xl-bold */

    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 77px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #ffffff;
  }

  .subtitle {
    /* text-xs-regular */

    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White-2 */

    color: #e2e2e2;
  }

  .numberBig {
    /* text-md-bold */

    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #ffffff;
  }
  .iconContainer {
    margin-inline: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    max-width: 228px;

    margin: auto;
  }

  .descriptionContainer {
    padding: 3.75em;
    gap: 0.625em;

    max-width: 604px;
  }
}

@media screen and (max-width: 677px) {
  .subtitle {
    /* text-xs-regular */

    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White-2 */

    color: #e2e2e2;
  }

  .numberBig {
    /* text-md-bold */

    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #ffffff;
  }

  .iconContainer {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 228px;
    height: 64px;

    margin: auto;
  }
}

@media screen and (max-width: 425px) {
  .titleBig {
    /* text-sm-bold */

    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */

    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #ffffff;
  }

  .subtitle {
    /* text-small-regular */

    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    /* or 15px */

    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White-2 */

    color: #e2e2e2;
  }

  .numberBig {
    /* text-sm-bold */

    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #ffffff;
  }

  .iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 24px;

    gap: 16px;

    padding: 0px;

    margin: auto;
  }
}
