.root {
  max-width: 100%;
}

.imageDescContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 7.75em;

  max-width: 100%;
}

.imageContainer {
  height: 100%;
  max-width: 524px;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.paragraphContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 22px;

  max-width: 632px;
}

.titleSmall {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #ffffff;
}

.labelDescContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 25px;

  max-width: 100%;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;
}

@media screen and (max-width: 920px) {
  .imageDescContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;

    gap: 2em;
  }
}

@media screen and (max-width: 677px) {
  .paragraphContainer {
    max-width: 407px;
  }

  .titleSmall {
    font-size: 24px;
    line-height: 160%;
    /* or 38px */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White */

    color: #ffffff;
  }

  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White */

    color: #ffffff;
  }
}

@media screen and (max-width: 425px) {
  .imageDescContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    width: 100%;
  }

  .imageContainer {
    width: 100%;
  }

  .paragraphContainer {
    gap: 22px;

    width: 100%;
  }

  .titleSmall {
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
  }

  .text {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;

    color: #e2e2e2;
  }
}
