.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8em;
}

.firstSubSection {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 124px;

  width: 100%;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.descriptionContainer {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 726px;
  height: 342px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.description {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  margin-bottom: 10px;
}

.secondSubSection {
  /* Frame 501 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 1280px;
  height: 934px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.imageDescContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 124px;

  width: 100%;
  height: 280px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.imageRawLayoutContainer {
  width: 100%;
  position: relative;
  object-fit: contain;
}

.subtitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 1280px;
  height: 88px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.subtitleWrapper {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  /* or 34px */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;
}

@media screen and (max-width: 425px) {
  .root {
    gap: 3em;
  }
}
