.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625em;
}

@media screen and (max-width: 677px) {
  .root {
    padding: 0px 99px 0px 80px;
    gap: 40px;

    max-width: 495px;
  }
}

@media screen and (max-width: 425px) {
  .root {
    padding: 0px 16px;
    gap: 40px;

    max-width: 342px;
  }
}
