.root {
  padding: 0px;
  gap: 24px;
}

.imageDimension {
  max-width: 100%;
}

.descContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 232px;

  max-width: 100%;
}

.descInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  max-width: 524px;
}

.titleMedium {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #ffffff;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  color: #e2e2e2;
}

@media screen and (max-width: 920px) {
  .descContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.375em;
    max-width: 100%;
  }
}

@media screen and (max-width: 677px) {
  .root {
    gap: 48px;
  }

  .descContainer {
    flex-direction: column;
    gap: 32px;
  }

  .titleMedium {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #ffffff;
  }

  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */

    color: #e2e2e2;
  }
}

@media screen and (max-width: 425px) {
  .root {
    gap: 16px;
  }

  .descContainer {
    flex-direction: column;
    gap: 32px;
  }

  .titleMedium {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
  }

  .text {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */

    color: #e2e2e2;
  }
}
