.container {
  display: flex;
  flex-direction: row;

  height: 580px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 10px;

  text-align: center;

  background: #edf4f7;
  border-radius: 8px 0px 0px 8px;
}

.rightColumn {
  background: #ffffff;
  border-radius: 0px 8px 8px 0px;
}
