.incrementorButton {
  /*create perfect circular button*/
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0;

  background-color: unset;

  border: 1.5px solid #8f98aa;
}

.inputQuantity {
  width: 84px;
  text-align: center;
  border: 0;

  background-color: unset;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 48px;
}

.header h1,
.header p {
  display: flex;
  flex-direction: column;

  margin-block-end: 0;
}

.inputMint {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 32px;
}

.walletStatus {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 32px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

.container > div {
  border: 1px solid #d0d5dd;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.errorText {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* Danger-2 */

  color: #ff4b7b;
}
