.container {
  display: flex;
  justify-content: center;

  height: 580px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 10px;

  text-align: center;

  background: #edf4f7;
  border-radius: 8px 0px 0px 8px;
}

.rightColumn {
  background: #ffffff;
  border-radius: 0px 8px 8px 0px;
}

.rightColumnContent {
  padding: 40px 64px;
}

.inputReferralCode {
  width: 437px;
  height: 44px;

  background: #ffffff;
  /* Gray-3 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.containerReferralCode {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.incrementorButton {
  /*create perfect circular button*/
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0;

  background-color: unset;

  border: 1.5px solid #8f98aa;
}

.inputQuantity {
  width: 84px;
  text-align: center;
  border: 0;

  background-color: unset;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 48px;
}

.header h1,
.header p {
  display: flex;
  flex-direction: column;

  margin-block-end: 0;
}

.inputMint {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 32px;
}

.greyedOutLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  font-feature-settings: "pnum" on, "lnum" on;

  /* Gray-1 */

  color: #8f98aa;
}

.walletStatus {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 32px;
}
