.footer {
  flex-direction: column;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.container {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  gap: 64px;
  margin-left: auto;
}

.inner {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
  width: 33%;
}

.contactIcons {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.contactIcons.top {
  display: none;
  gap: 8px;
}

.title {
  color: #fff;
  font-size: 24px;
}

.link a,
.link {
  color: #e2e2e2;
  font-size: 16px;
}

@media screen and (max-width: 920px) {
  .title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .link a,
  .link {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .contactIcons.top {
    display: flex;
  }
  .contactIcons.bottom {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .info {
    display: block;
    margin-left: 0;
  }
  .title {
    margin-bottom: 8px;
    letter-spacing: 1px;
  }
  .link {
    gap: 0;
  }
  .inner {
    width: 100%;
    gap: 0;
    margin-bottom: 24px;
  }
  .link a,
  .link {
    font-size: 12px;
  }
}
