@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.dark-mode {
  /* background: url(/Bg_main.svg) no-repeat center center fixed; */
  background-color: #000;
  color: #333;
  font-family: 'Syne';
  background-size: cover;
}

.light-mode {
  /* background: url(/Bg_main.svg) no-repeat center center fixed; */
  background-color: #fafafa;
  font-family: 'Syne';
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 1280px;
  margin: 160px auto 0;
}
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: all ease-in-out 0.2s;
}
.nav-container.scrolled {
  background-color: rgba(5, 9, 16, 0.7);
  backdrop-filter: blur(40px);
}

.nav-container nav {
  transition: all ease-in-out 0.2s;
}
.nav-container.scrolled nav {
  height: 110px;
}

nav.mobile {
  display: none;
}

nav .mobile-inner {
  position: fixed;
  transition: all ease-in-out 0.2s;
  transform: translateX(100%);
  opacity: 0;
}
nav .mobile-inner.open {
  transform: translateX(0%);
  opacity: 1;
}

nav.desktop {
  display: flex;
}

nav {
  margin: 0px auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

nav a {
  color: #fff;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
}

nav .link {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
}

nav .dropdown-menu:hover .arrow {
  transform: rotate(180deg);
}

nav .arrow {
  transition: all ease-in-out 0.2s;
}

nav .dropdown-menu:hover .dropdown-item {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #121b2a;
  gap: 12px;
  padding: 16px;
  width: max-content;
  transition: all ease-in-out 0.2s;
}

button {
  background: #406aff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 0.5rem;
}

button > span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  padding: 8px 14px;
  /* identical to box height, or 21px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */
  color: #fff;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
  padding: 8px 14px;
}

button.outlined {
  background: #fff;
  border: 1px solid #1f50ff;
  color: #1f50ff;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.625em;
}

button.outlinedActive {
  background: #fff;
  border: 1px solid #76ce8a;
  color: #76ce8a;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.625em;
}

button.outlined:disabled,
button.outlined[disabled] {
  background: #fff;
  border: 1px solid #bbcdfb;
  color: #bbcdfb;
}

footer {
  display: flex;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

/*remove increment/decrement arrow*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fontFeature {
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.titleDot {
  font-size: 48px;
  color: #406aff;
  padding: 0;
}

/* background */
.blurTop {
  background: linear-gradient(180deg, #131d30 0%, #39578b 41.67%, #7899d1 100%);
  filter: blur(400px);
  width: 40vw;
  height: 600px;
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1280px) {
  .content {
    margin-top: 120px;
  }
  .content,
  nav {
    padding: 0 80px;
  }

  nav .mobile-inner {
    padding: 72px 80px 180px;
  }
}

@media screen and (max-width: 1199px) {
  nav.mobile {
    display: flex;
    width: 100vw;
  }
  nav.desktop {
    display: none;
  }
  .nav-container.scrolled nav {
    height: 90px;
  }
}

@media screen and (max-width: 677px) {
  .content {
    margin-top: 100px;
  }
  .content,
  nav {
    padding: 0 24px;
  }
  nav .mobile-inner {
    padding: 50px 24px 120px;
  }
}

@media screen and (max-width: 425px) {
  .nav-container.scrolled nav {
    height: 60px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
