@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: url(/Bg_main.svg) no-repeat center center fixed;
  color: #333;
  font-family: 'Syne';
  background-size: cover;
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin: 0 12px;
}

nav .link {
  margin: 0 auto;
  text-transform: uppercase;
}

button {
  background: #406aff;
  border: 1px solid #406aff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

span,
button {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  padding: 8px 14px;
  /* identical to box height, or 21px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */
  color: #fff;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

footer {
  display: flex;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

/*remove increment/decrement arrow*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fontFeature {
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.titleDot {
  font-size: 48px;
  color: #406aff;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .content {
    padding: 0 80px;
  }
}

@media screen and (max-width: 677px) {
  .content {
    padding: 0 24px;
  }
}
