.container {
  width: 100%;
}

.top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  /* Font */
  font-weight: 700;
  font-size: 43px;
  line-height: 58px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #ffffff;
}

.top .left {
  width: 30%;
}
.top .right {
  width: 70%;
  padding-left: 105px;
}

.bottom {
  /* Font */
  font-weight: 400;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #e2e2e2;
}

/* Left Image */
.bottomLeftImage {
  width: 100%;
  display: flex;
}

.bottomLeftImage .right {
  width: 70%;
  padding-left: 105px;
  font-size: 16px;
  line-height: 140%;
}
.bottomLeftImage .left {
  width: 30%;
  font-size: 14px;
  line-height: 150%;
}
.bottomLeftImage .image {
  max-width: 100%;
  width: 303px;
  height: 230px;
  object-fit: cover;
  object-position: 70% 0;
  padding-bottom: 24px;
}

/* Top Image */
.bottomTopImage {
  display: block;
}
.bottomTopImage .image {
  width: 100%;
  height: auto;
  padding-bottom: 24px;
}
.bottomTopImage .right {
  font-size: 16px;
  line-height: 140%;
}

.miniText {
  max-width: 303px;
}

.border {
  border: 2px solid #5b5b5b;
  margin: 24px 0;
  float: right;
}

.dot {
  font-size: 48px;
  color: #406aff;
  padding: 0;
}

@media screen and (max-width: 920px) {
  .top .right {
    /* Font */
    font-size: 24px;
    line-height: 38.4px;
    padding-left: 80px;
  }
  .bottomLeftImage .right {
    padding-left: 80px;
  }

  .bottomTopImage .right,
  .bottomLeftImage .right {
    font-size: 14px;
    line-height: 140%;
  }
  .bottomTopImage .left,
  .bottomLeftImage .left {
    font-size: 14px;
  }
  .bottomLeftImage .image {
    width: 243px;
    height: 176px;
    object-fit: cover;
    object-position: 70% 0;
    padding-bottom: 10px;
  }
  .dot {
    font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  .top {
    display: block;
  }
  .top .right {
    padding: 0;
    font-size: 16px;
    line-height: 25.6px;
    width: 100%;
  }
  .top .left {
    font-size: 16px;
    line-height: 25.6px;
    margin-bottom: 16px;
    width: 100%;
  }
  .border {
    border: 1px solid #5b5b5b;
    margin: 12px 0;
  }
  .bottomLeftImage {
    display: block;
  }
  .bottomLeftImage .right {
    width: 100%;
    padding-left: 0;
    font-size: 12px;
  }
  .bottomLeftImage .left {
    width: 100% !important;
    margin-right: 15px;
  }
  .bottomLeftImage .image {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0%;
  }
  .bottomLeftImage .left .miniText {
    display: none;
  }
  .bottomTopImage .right {
    font-size: 12px;
  }
  .dot {
    font-size: 16px;
  }
}
