.titleBig {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 154px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #ffffff;
  margin-bottom: 16px;
  padding-top: 68px;
}

.subtitle {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #e2e2e2;
  margin-bottom: 48px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 56px;
}

.buttonContainer.bottom {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  width: 240px;
  height: 48px;
  text-transform: capitalize;
  /* text */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #fff;
}

.buttonWhite {
  border: none;
  background-color: #fff;
  color: #406aff;
}

.imageMainContainer {
  width: 100%;
  height: 720px;
  position: relative;
}

.imageMainContainer .imageMain {
  width: 100%;
  height: 100%;
  position: relative !important;
}

.imageUnionContainer {
  width: 100%;
  height: 120px;
  position: relative;
  margin-top: 56px;
}

.imageUnionContainer .imageUnion {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}

.floatingTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(80px);
  border-radius: 8px;
  max-width: 450px;
  position: absolute;
  z-index: 1;
}
.floatingTextContainer.top {
  left: 0;
  top: 64px;
}
.floatingTextContainer.bottom {
  right: 0;
  bottom: 64px;
}

.floatingText {
  color: #fff;
  font-family: 'Syne';
  font-style: normal;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.floatingText .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
}
.floatingText .subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .titleBig {
    font-size: 80px;
  }
}

@media screen and (max-width: 920px) {
  .titleBig {
    font-size: 64px;
    line-height: 77px;
  }

  .subtitle {
    font-size: 16px;
  }
  .imageMainContainer {
    height: 800px;
  }
  .imageUnionContainer {
    margin-top: 10px;
    height: 35px;
  }
  .floatingTextContainer {
    max-width: 200px;
  }
  .floatingText .title {
    font-size: 16px;
    line-height: 24px;
  }
  .floatingText .subtitle {
    font-size: 14px;
    line-height: 21px;
  }
  .floatingTextContainer.top {
    top: 20px;
  }
  .floatingTextContainer.bottom {
    bottom: 20px;
  }
}

@media screen and (max-width: 677px) {
  .titleBig {
    font-size: 45px;
    line-height: 50px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .buttonContainer {
    margin-bottom: 20px;
  }
  .button {
    width: 180px;
    height: 30px;
    font-size: 11px;
  }
}

@media screen and (max-width: 425px) {
  .titleBig {
    font-size: 38px;
    line-height: 20px;
  }

  .subtitle {
    font-size: 14px;
  }
  .imageMainContainer {
    height: 300px;
  }
  .imageUnionContainer {
    margin-top: 0px;
  }
  .buttonContainer {
    margin-bottom: 50px;
  }
  .buttonContainer.top {
    display: none;
  }
  .buttonContainer.bottom {
    display: flex;
  }
  .button {
    width: 100%;
    max-width: 216px;
    height: 40px;
    font-size: 12px;
    padding: 8px 14px;
  }
  .floatingTextContainer {
    display: none !important;
  }
}
