.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.image {
  max-width: 250px;
  width: 100%;
  height: 100%;
}

.textContainer {
  width: 70%;
  padding-left: 105px;
}

.title {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #e2e2e2;
  margin-bottom: 32px;
}

.title.top {
  display: none;
}

.title .dot {
  font-size: 48px;
  color: #406aff;
  padding: 0 5px;
}

.description {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #e2e2e2;
}

@media screen and (max-width: 920px) {
  .container {
    padding: 80px 0;
  }
  .title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 32px;
  }
  .title .dot {
    line-height: 32px;
  }
  .description {
    font-size: 14px;
    line-height: 140%;
  }
}

@media screen and (max-width: 425px) {
  .container {
    display: block;
    padding: 30px 0 60px 0;
  }
  .textContainer {
    width: 60%;
    padding-left: 0;
  }
  .imageContainer {
    width: 40%;
    margin-bottom: 20px;
  }
  .title {
    width: 100%;
    font-size: 16px;
    line-height: 25.6px;
  }
  .description {
    width: 100%;
    font-size: 12px;
    line-height: 140%;
    text-align: justify;
    padding-left: 15px;
  }
  .title.top {
    display: block;
  }
  .title.bottom {
    display: none;
  }
  .title .dot {
    font-size: 16px;
  }
}
