.textContainer {
  padding-top: 10px;
}

.name {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  padding-bottom: 10px;
}

.position {
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #c0c0c0;
}

@media screen and (max-width: 920px) {
  .name,
  .position {
    font-size: 12px;
  }
}
